*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
}


body{
    font-family: Helvetica, Arial, sans-serif;
}
         
/* ----------------------------------------------------------------------------*/
/*                               FOOTER                                        */
/* ----------------------------------------------------------------------------*/   


.footer{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 40px;
        background-color: #171618 ;
        border-t
    }

div.footer-info {
    display: inline;
}

.linea{
    border-top: 1px solid grey;
    height: 2px;
    margin: 20px 500px;
  }

  ul.lista li {
    display: inline;
    padding-right: 0.5em;
  }
    
.footer-copy{
        color: #6b6b6b;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    
