:root {
    --A:#82087F;
    --B: #6A088C;
    --C-PRIMARIO: #3E0D76;
    --extra1: #350b66;
    --D: #22088C;
    --E: #081182;
}
@media (min-width:768px) {

    .nav-container__toggle {
        display: none;
    }

    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-container__logo-container .webcatch {
        display: none;
    }


    .nav__articles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 580px;
        margin-right: 20px;
        background-color: var(--C-PRIMARIO);
    }

    .nav__text a {
        padding: 15px;
        font-weight: 800;
    }
}